<header>
  <div class="header-logo">
  <a href="/">ゲームズ</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">ゲームズとは</a>
    </li>
  </ul>
</header>
  <h2>ゲームズとは</h2>
  <p>
    あなたの”得意”で仕事を探してみませんか？
  </p>
<body>
 <ul>
 <li>ゲームを教える</li> <li>パソコンなどの配線を教える・やる</li> <li>ゲーム仲間から仕事を受けとる</li>
</ul>
<body>
