<header>
  <div class="header-logo">
  <a href="/">ゲームズ</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">ゲームズとは</a>
    </li>
  </ul>
</header>

<p>特技や趣味を仕事へ</p>
<a>ゲーム界隈で仕事を見つけてみませんか？</a>

